@import "tailwindcss";

@theme {
    --color-primary: #0A1BCC;
    --color-action: #D61A1A;
    --color-white: #FFFFFF;
    --color-background: #F8F9FA;
}

@layer base {

    /* Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}